<!DOCTYPE html>
<html lang="es" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>Dashboard - Clínica Dental</title>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var doctorData = /*[[${lstDoctor}]]*/ [];
            /*]]>*/
        </script>
    </head>
    <body>
        <main layout:fragment="content">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Doctor</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" id="add-doctor" class="btn btn-lg btn-primary">Agregar +</button>
                    </div>
                </div>
            </div>
            <table id="doctorTable" class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Celular</th>
                        <th>Especialidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <div class="modal fade" id="doctorModal" tabindex="-1" aria-labelledby="doctorModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="doctorModalLabel">Gestión de Doctores</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="doctorForm">
                                <input type="hidden" id="doctorId" name="doctorId">

                                <div class="mb-3">
                                    <label for="firstName" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="firstName" name="firstName" required>
                                </div>

                                <div class="mb-3">
                                    <label for="lastName" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="lastName" name="lastName" required>
                                </div>

                                <div class="mb-3">
                                    <label for="specialty" class="form-label">Especialidad</label>
                                    <input type="text" class="form-control" id="specialty" name="specialty">
                                </div>

                                <div class="mb-3">
                                    <label for="phone" class="form-label">Teléfono</label>
                                    <input type="text" class="form-control" id="phone" name="phone">
                                </div>

                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" id="saveDoctorBtn">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>

            <script th:src="@{/js/logic/doctor.js}"></script>
        </main>
    </body>
</html>
